*{
    padding:0px;
    margin:0px;
}

body{
    display:flex;
    height: 150%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.main{
    display: flex;
    width: 680px;
    height: 680px;
    margin: 100px 10px 100px 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    border-color: orange;
    border-style: solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 0.1s;
    background-color: purple;
}

.butt-on{
    border: 5px;
    width: 250px;
    height: 80px;
    margin-top: -50px;
    transition-duration: 0.3s;
    border-color: black;
    background-color: gray;
    font-size: 20px;
    color: lightsalmon;
}

.btn:hover{
    cursor: pointer;
    background-color: wheat;
}

.highlight{
    background-color: palevioletred;
}

.bad{
    background-color: red;
}

.alap{
    background-color: purple;
}